.custompad {
    padding-top: 10px;
}
.customcommentpad {
    padding-top: 5px;
    padding-bottom: 5px;
}
.row{
    word-wrap: break-word;
}
#vspad {
    padding-top: 100px;
}

#containerpad {
    padding-top: 20px;
}

textarea{
    resize: none;
}

#commentpad{
    padding-left: 0px;
}

footer{
    background-color: #f7f7f7;
}

.footerpad{
    padding-bottom: 10px;
}